/novapratica/nbproject/private/
*.xml
*.mf
*.properties
/ContaBancaria/.gradle/
/ContaBancaria/nbproject/private/
/SimulacaoBancaria/nbproject/private/
/prova/nbproject/private/
/prova/build/
prova/src/prova/Prova.java
/SimulacaoBancaria/build/
/Criacao_Interface/nbproject/private/
Criacao_Interface/lib/CopyLibs/org-netbeans-modules-java-j2seproject-copylibstask.jar
/Criacao_Interface/build/
/lutadores/nbproject/private/
lutadores/lib/CopyLibs/org-netbeans-modules-java-j2seproject-copylibstask.jar
/lutadores/build/
/ProjetoLivro/nbproject/private/
/ProjetoLivro/build/
ProjetoLivro/lib/CopyLibs/org-netbeans-modules-java-j2seproject-copylibstask.jar
/ProjetoPessoas/nbproject/private/
ProjetoPessoas/lib/CopyLibs/org-netbeans-modules-java-j2seproject-copylibstask.jar
/ProjetoPessoas/build/
/Ex-de-heranca/nbproject/private/
/Ex-de-heranca/build/
*.jar
