/novapratica/nbproject/private/
*.xml
*.mf
*.properties
/ContaBancaria/.gradle/
/ContaBancaria/nbproject/private/
/SimulacaoBancaria/nbproject/private/
/prova/nbproject/private/
/prova/build/
prova/src/prova/Prova.java
/SimulacaoBancaria/build/
/Criacao_Interface/nbproject/private/
Criacao_Interface/lib/CopyLibs/org-netbeans-modules-java-j2seproject-copylibstask.jar
